.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--baby-purple);
  height: 20rem;
  width: 20rem;
  border-radius: 2rem;
}

.button {
  display: block;
  margin-top: 1rem;
  color: var(--white);
  background-color: var(--baby-purple);
  padding: 1rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  cursor: pointer;
}

.button:hover {
  color: var(--baby-purple);
  background-color: var(--white);
}
