@import "./assets/css/color.css";
@import "./assets/css/fonts.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font-family-primary);
  background-color: var(--white);
  color: var(--primary);
}

a {
  color: var(--primary);
}
